body{
    margin:0px;
    background-image: url(raj.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
#clock-cointainer{
    display:flex;
   
    /* align-items: center; */
    
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(2px);
    width:100%;
    background-color: hsla(0,0%,100%,0.1);

}